@import 'header';
@import 'customer';

html, body, #react, #app, #app > .wrapper {
  min-height: 100%;
  height: 100%;
}

.content-wrapper {
  padding-bottom: 51px;
  margin-bottom: -51px;
}

@media (min-width: 768px) {
  .modal-dialog {
      width: 768px;
  }
}